
body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container{
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;

}

.grid{
    flex: 1;
    border: 1px solid black;
    padding: 8px;
}
