body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.main-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border: 2px solid black;
    width: 500px;
    height: 500px;


}

.grid {

    padding: 0px;
    margin: 0px;
}

footer {
    margin-top: 15px;
}
